<% layout('/layouts/boilerplate.ejs') -%>

<div class="row">
	<div class="col-8 offset-2"><h2 class="card-title"><%= listing.title %></h2></div>
		<div class="card col-6 offset-2 listing-card">
				  <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="...">
				  <div class="card-body">
				    <p class="card-text show-text">
				    	<%= listing.description %><br>
				    	<b>Location</b>: <%= listing.location %><br>
				    	<b>Country:</b> <%= listing.country %><br>
				    	<b>Ownedby: </b> <%= listing.owner.username %><br>
				    	<b>Price</b>: <span>&#8377</span><%= listing.price.toLocaleString("en-IN") %>/night<br>
				    	
				    </p>
				    <% if(registeredUser && registeredUser._id.equals(listing.owner._id)) { %>
				    	<a href="/listing/<%= listing._id %>/edit" class="btn btn-primary show-btns">Edit</a>
				    	<a href="/listing/<%= listing._id %>/delete" class="btn btn-danger">Delete</a>
				    <% } %>
				  </div>
			<hr>
		</div>
		<% if(registeredUser) {%>
			<form  method="post" class="col-5 offset-2 mb-3 needs-validation" action="/listing/<%= listing._id %>/review/addreview" novalidate>
				<h4>Leave a review</h4>
			<div class="mb-3">
				<label for="rating" class="form-label">Rating</label>
				  	<fieldset class="starability-slot">

				      <input type="radio" id="rate1" name="review[rating]" value="1" />
				      <label for="rate1">1 star.</label>

				      <input type="radio" id="rate2" name="review[rating]" value="2" />
				      <label for="rate2">2 stars.</label>

				      <input type="radio" id="rate3" name="review[rating]" value="3" />
				      <label for="rate3">3 stars.</label>

				      <input type="radio" id="rate4" name="review[rating]" value="4" />
				      <label for="rate4">4 stars.</label>

				      <input type="radio" id="rate5" name="review[rating]" value="5" />
				      <label for="rate5">5 stars.</label>

				      <span class="starability-focus-ring"></span>
    				</fieldset>
				  <div class="invalid-feedback">
	        		Please add a comment.
	      		 </div>
	      	</div>
	      	<div>
	      		<label for="comment" class="form-label">comment</label>
				  <textarea class="form-control" name="review[comment]" id="comment" placeholder="Add comment" required></textarea>
				  <div class="invalid-feedback">
	        		Please add a comment.
	      		  </div>
	      	</div>
	      	<button class="btn btn-dark mt-2"> Submit</button>
	      	<hr>
			</form>
		<% } %>
		<div class="col-8 offset-2 mb-3 row comment-row">
			<% for(review of listing.reviews) { %>
				<div class="card col-5 ms-2 mb-3" style="width: 18rem;">
				  <div class="card-body mb-2">
				    <h5 class="card-title">@<%= review.author.username %>	
				    </h5>
				    <p class="starability-result" data-rating="3">
    					Rated: <%= review.rating %> stars
  					</p>
				    <p class="card-text"><%= review.comment %></p>		
				    <form method="post" action="/listing/<%= listing._id %>/review/<%= review._id %>?_method=delete">
				    	<button class="btn btn-danger mt-2"> Delete</button>
				    </form>
				  </div>
				</div>
			<% } %>
			
		</div>

</div>